.carrito-detalle {
    margin: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: #198754 4px solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.check-detalle{
    margin: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 25px;
    border: #198754 4px solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.productos-detalle{
    margin: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    font-size: 25px;
    border: #198754 2px solid;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 200px) {
    .productos-detalle {
        min-width: 400px;
    }
}



.total{
    font-size: 30px;
    margin: 5px;
}
