.contenedor-item {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #198754 2px solid;
    border-radius: 10px;
    background-color: rgb(213, 228, 213);
    color: black;
}

.boton-ver {
    margin: 10px;
}

.imagen-productos {
    margin: 15px 0 10px 0 ;
}