.productos{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-detalle {
    margin: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: #198754 4px solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.check-detalle-1 {
    margin: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    color: rgb(0, 0, 0);
    border: #198754 4px solid;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}



.distancia{
    margin-bottom: 5px;
    min-width: 500px;
}
@media screen and (min-width: 200px) {
    .distancia {
        min-width: 400px;
    }
}